template(name="boardList")
  .row
    +foldersWidget
    ul.col-md-8.board-list.clearfix
      a.sidebar-folder-tongue.js-toggle-sidebar(title='Close Sidebar')
        i.fa.fa-angle-left
      if currentUser.hasPermission 'boards' 'insert'
        li.js-add-board
          a.board-list-item.label {{_ 'add-board'}}
      each folders
        div.folderDetails(data-folder-id="{{_id}}")
          each folderBoards
            li.categorised_boards(class="{{#if isStarred}}starred{{/if}}" class=colorClass data-id="{{_id}}")
              if isInvited
                .board-list-item
                  span.details
                    span.board-list-item-name= title
                    i.fa.js-star-board(
                      class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                      title="{{_ 'star-board-title'}}")
                    p.board-list-item-desc {{_ 'just-invited'}}
                    button.js-accept-invite.primary {{_ 'accept'}}
                    button.js-decline-invite {{_ 'decline'}}
              else
                a.js-open-board.board-list-item(href="{{pathFor 'board' id=_id slug=slug}}" data-id="{{_id}}")
                  span.details
                    span.board-list-item-name
                      +viewer
                        = title
                    i.fa.js-star-board(
                      class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                      title="{{_ 'star-board-title'}}")
                    p.board-list-item-desc
                      +viewer
                        = description
                    if hasSpentTimeCards
                      i.fa.js-has-spenttime-cards(
                        class="fa-circle{{#if hasOvertimeCards}} has-overtime-card-active{{else}} no-overtime-card-active{{/if}}"
                        title="{{#if hasOvertimeCards}}{{_ 'has-overtime-cards'}}{{else}}{{_ 'has-spenttime-cards'}}{{/if}}")
                    if currentUser.hasPermission 'boards' 'insert'
                      i.fa.js-clone-board(
                          class="fa-clone"
                          title="{{_ 'duplicate-board'}}")
                    i.fa.js-archive-board(
                        class="fa-archive"
                        title="{{_ 'archive-board'}}")

      each uncategorisedBoards
        unless isTemplatesBoard
          li.uncategorised_boards(class="{{#if isStarred}}starred{{/if}}" class=colorClass data-id="{{_id}}" id="{{_id}}")
            if isInvited
              .board-list-item
                span.details
                  span.board-list-item-name= title
                  i.fa.js-star-board(
                    class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                    title="{{_ 'star-board-title'}}")
                  p.board-list-item-desc {{_ 'just-invited'}}
                  button.js-accept-invite.primary {{_ 'accept'}}
                  button.js-decline-invite {{_ 'decline'}}
            else
              a.js-open-board.board-list-item(href="{{pathFor 'board' id=_id slug=slug}}" data-id="{{_id}}")
                span.details
                  span.board-list-item-name
                    +viewer
                      = title
                  i.fa.js-star-board(
                    class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                    title="{{_ 'star-board-title'}}")
                  p.board-list-item-desc
                    +viewer
                      = description
                  if hasSpentTimeCards
                    i.fa.js-has-spenttime-cards(
                      class="fa-circle{{#if hasOvertimeCards}} has-overtime-card-active{{else}} no-overtime-card-active{{/if}}"
                      title="{{#if hasOvertimeCards}}{{_ 'has-overtime-cards'}}{{else}}{{_ 'has-spenttime-cards'}}{{/if}}")
                  if currentUser.hasPermission 'boards' 'insert'
                    i.fa.js-clone-board(
                        class="fa-clone"
                        title="{{_ 'duplicate-board'}}")
                  i.fa.js-archive-board(
                      class="fa-archive"
                      title="{{_ 'archive-board'}}")

template(name="boardItem")

template(name="boardListHeaderBar")
  h1 {{_ 'my-boards'}}
  .board-header-btns.right
    a.board-header-btn.js-open-archived-board
      i.fa.fa-archive
      span {{_ 'archives'}}

template(name="createNewFolder") 
  form#createFolderForBoardsDroppedOnEachOther.modal-form
    div
      h3.formHeader {{_ 'create-folder'}}
      hr.headerSeperator
      h3 Title
      input#title.form-control.input-md(type='text' name='name' required='required' autofocus)
      button.btn(type='submit') {{_ 'Submit'}}
      button#cancelCreateFolderForBoardsDraggedOnEachOther.btn.pull-right(type='button') {{_ 'cancel'}}
